[default]
ApplicationID=client
FileStorePath=storage/messages/
ConnectionType=initiator
StartTime=00:01:00 Europe/Bucharest
EndTime=23:59:00 Europe/Bucharest
HeartBtInt=30
UseDataDictionary=Y
DataDictionary=FIX50.xml
ValidateUserDefinedFields=N
ValidateIncomingMessage=N
RefreshOnLogon=Y
LogonTag=553=bbnd_fab_md1
LogonTag1=554=testing1
ResetOnLogon=Y

[session]
BeginString=FIX.4.4
SocketConnectHost=74.217.171.114
SocketConnectPort=1080
SenderCompID=MD02_FAB_FIXSTG5
TargetCompID=FIXCTSBOBGW